<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

<meta charset="UTF-8" />
<link rel="stylesheet" href="../public/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>

<title>Error page</title>
</head>
<header th:replace="layout :: site-header"></header>
<body>
	<p>Some errors happened! please try <span> <a th:href="@{/register}">register</a> </span>again</p>

	<footer th:replace="layout :: site-footer"></footer>

</body>

</html>