<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

<meta charset="UTF-8" />
<link rel="stylesheet" href="../public/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>

<title>Error page</title>
</head>
<header th:replace="layout :: site-header"></header>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
					Plain </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="home.html"> Home </a></li>
					<li><a th:href="@{/logout}" href="logout"> Logout </a></li>
				</ul>
			</div>
		</div>
		<h1 th:text="${title}">Title</h1>
		<div id="created" th:text="${#dates.format(timestamp)}">July 11,
			2012 2:17:16 PM CDT</div>
		<div>
			There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
		</div>
		<div th:text="${message}">Fake content</div>
		<div>
			Please contact the operator with the above information.
		</div>
	</div>

	<footer th:replace="layout :: site-footer"></footer>

</body>

</html>