<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

<meta charset="UTF-8"/>
<link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!--  <meta th:include="this::head" th:remove="tag"/>  -->
</head>
<body>
 <header th:fragment="site-header" th:remove="tag">
	  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html" th:href="@{/}"><img
			src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" width="250" height="70"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="users/login.html" th:href="@{/users/login}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="users/register.html" th:href="@{/users/register}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="posts/index.html" th:href="@{/posts}">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="users/index.html" th:href="@{/users}">Users</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"></input>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div> </div>
    
    <div id="logged-in-info">
			<span>Hello, <b>(user)</b></span>
			<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/users/logout}">
				<input type="submit" value="Logout"/>
			</form>
		</div>
		
		<ul id="messages" th:with="notifyMessages=${session[T(blog.services
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
      <li th:each="msg:${notifyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
      <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>

    </ul>
  </div>
</nav>


    </header>
	<!--  <header th:fragment="site-header" th:remove="tag">
	  <header>
		<a href="index.html" th:href="@{/}"><img
			src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}"/></a>
		<a href="index.html" th:href="@{/}">Home</a> <a
			href="users/login.html" th:href="@{/users/login}">Login</a> <a
			href="users/register.html" th:href="@{/users/register}">Register</a>
		<a href="posts/index.html" th:href="@{/posts}">Posts</a> <a
			href="posts/create.html" th:href="@{/posts/create}">Create Post</a> <a
			href="users/index.html" th:href="@{/users}">Users</a>
		<div id="logged-in-info">
			<span>Hello, <b>(user)</b></span>
			<form method="post" th:action="@{/users/logout}">
				<input type="submit" value="Logout"/>
			</form>
		</div>
		</header>
		<ul id="messages" th:with="notifyMessages=${session[T(blog.services
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
      <li th:each="msg:${notifyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
      <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>

    </ul>
	</header>
	-->
	<h1>Welcome</h1>
	<p>Welcome to the Spring MVC Blog.</p>
	<footer th:fragment="site-footer"> &copy; Jack Li's Blog System, 2017 </footer>
</body>
</html>